.article {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 25px 0;
}

.photo {
    width: 425px;
}

.contents {
    width: 40%;
}

.title {
    font-size: 32px;
    margin: 0 0 10px 0;
}


.text {
    font-family: "Bebas", sans-serif;
    font-size: 25px;
    margin: 0;
    position: relative;
    color: white;
}

.text::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 75px;
    bottom: 0;
    margin-left: -70px;
    background: linear-gradient(90deg, rgb(213, 0, 50, 0.3) 50%, rgb(213, 0, 50, 1));
}

@media screen and (max-width: 1380px) {
    .article {
        align-items: center;
        justify-content: center;
    }

    .photo {
        width: 320px;
    }
}

@media screen and (max-width: 620px) {
    .article {
        flex-direction: column;
    }

    .contents {
        width: 100%;
    }

    .photo {
        width: 100%;
    }
}