.article {
    display: flex;
}


.imageWrapper {
    max-width: 50%;
    /* height: 100%; */
    margin-right: 24px;
}

.article img {
    height: 100%;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
}

.title {
    font-size: 28px;
    margin-bottom: 18px;
    margin-top: 0;
}

.description {
    font-size: 22px;
    font-family: "Bebas", sans-serif;
    margin: 0;
}


@media screen and (max-width: 1120px) {
    .article {
        flex-direction: column;
    }

    .imageWrapper {
        max-width: unset;
        margin: 0;
    }

    .info {
        margin-top: 16px;
        max-width: unset;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 22px;
    }

    .description {
        font-size: 16px;
    }
}

@media screen and (max-width: 540px) {
    .title {
        font-size: 16px;
    }
}