.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.heading {
    margin: 35px 0;
    font-size: 46px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .heading {
        margin: 16px 0;
    }
}