.articles {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 16px;
    margin: 16px auto 0;

    max-width: 90%;
}

.articlesTitle {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: "Horizon", sans-serif;
    text-align: center;
    margin: 0;
    padding: 2px 0;
    font-size: 35px;
}

.contentWrapper {
    margin: 24px 0;
}

.articlesInfo {
    scroll-margin-top: 50px;
    margin-bottom: 16px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 0;
}

@media screen and (max-width: 768px) {
    .articles {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}