.contents {
    width: 100%;
    background-color: #000;
}

.heading {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 46px;
    color: var(--primary-color);
}