.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 16px;
    margin: 0 auto;

    max-width: 90%;

    grid-template-areas:
                         "big first-small"
                         "big last-small";
}

.big {
    grid-area: big;
}

.firstSmall {
    grid-area: first-small;
}

.lastSmall {
    grid-area: last-small;
}

.articlesTitle {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: "Horizon", sans-serif;
    text-align: center;
    margin: 0;
    padding: 2px 0;
    font-size: 35px;
}

.articlesInfo {
    scroll-margin-top: 50px;
    margin-bottom: 16px;
}

.contentWrapper {
    margin: 24px 0;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 0;
}