.tile {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.content {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.author {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    margin: auto 0 0;
    color: white;
}

.tile:hover .content {
    transition: all 0.3s ease-in-out;
    height: 100%;
    opacity: 1;
}

.tileImage {
    width: 100%;
    height: 100%;
}

.title {
    position: relative;
    font-family: "Horizon", sans-serif;
    padding-left: 15px;
    margin: 0;
    font-size: 16px;
    color: var(--light-color);
}

.title::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 1px;
    position: absolute;
    left: 5px;
    background-color: var(--light-color);
}