.heading {
    margin: 0;
    font-size: 46px;
    color: white;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: var(--primary-color)
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
    margin: 35px auto 35px auto;
    max-width: 90%;
}

.showMore {
    width: 100%;
    margin: auto;
    width: auto;
}

.readNextArticles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    margin: 50px 15px 0;
}

@media screen and (max-width: 1300px) {
    .readNextArticles {
        gap: 15px;
        flex-wrap: wrap;
        max-width: 620px;
    }
}

@media screen and (max-width: 1380px) {
    .articles {
        margin: 35px 15px;
        justify-content: flex-start;
        flex-direction: column;
        max-width: unset;
    }
}