.tilesTitle {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: "Horizon", sans-serif;
    text-align: center;
    margin: 0;
    padding: 2px 0;
    font-size: 35px;
}

.tilesInfo {
    display: grid;

    scroll-margin-top: 50px;
    background: var(--dark-color);
    padding-bottom: 15px;
}

.tilesShowMore {
    justify-self: center;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 16px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 16px;
    margin: 0 auto;
}