.topNews {
    scroll-margin-top: 50px;
    margin-bottom: 16px;
}

.contentWrapper {
    margin: 24px 0;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    gap: 24px;
    padding: 0 80px;
}

.articlesTitle {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: "Horizon", sans-serif;
    text-align: center;
    margin: 0;
    padding: 2px 0;
    font-size: 35px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 0;
}