.article {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    color: white;
}

.photo {
    width: 100%;
}

.text {
    font-family: "Bebas", sans-serif;
    font-size: 25px;
    margin: 0;
    position: relative;
}

.text::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 25px;
    bottom: 0;
    margin-left: -25px;
    background: linear-gradient(90deg, rgb(213, 0, 50, 0.3) 25%, rgb(213, 0, 50, 1));
}

.title {
    margin: 20px 0;
    font-size: 25px;
}

@media screen and (max-width: 1380px) {}