.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 20px;

    width: 100%;
}

.photo {
    max-width: 100%;
    width: 100%;
}

.heading {
    color: var(--primary-color);
    font-size: 32px;
    margin: 0;
}

.description {
    font-family: "Bebas", sans-serif;
    font-size: 25px;
    margin: 15px 0 0;
}

@media screen and (max-width: 620px) {
    .article {
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
    }
}