.contents {
    width: 100%;
}

.heading {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: var(--primary-color);
    margin: 0;
    font-size: 46px;
    color: white;
}

.shortArticles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    padding: 0 16px;
    margin: 20px 0 0;
}

.fullArticles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    padding: 0 16px;
    margin: 20px 0 0;
}

.shortArticles {
    margin: 50px 0;
}

@media screen and (max-width: 1240px) {
    .fullArticles {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 45px;
    }
}