.navLink {
    text-decoration: none;
    color: white;
    position: relative;
    padding: 16px;
    transition: all 0.3s ease-in-out;
}

.navLink:hover {
    background: white;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.navLinkActive {
    text-decoration: none;
    color: var(--primary-color);
    background: white;
    position: relative;
    padding: 16px;
    transition: all 0.3s ease-in-out;
}