.heading {
    margin: 0;
    font-size: 32px;
}

.wrapper {
    padding-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.paragraph {
    font-size: 22px;
    text-align: center;
    font-family: "Bebas", sans-serif;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        font-size: 24px;
    }

    .paragraph {
        font-size: 16px;
    }
}